{{ $fish_path := "/bin/fish" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{   $fish_path = "/opt/homebrew/bin/fish" -}}
{{ end -}}

shell:
  program: {{ $fish_path }}
  args:
    - -l
    - -c
    - "tmux new -A -s default"

env:
  TERM: xterm-256color

window:
  opacity: 1
  dynamic_title: true
  decorations_theme_variant: none

font:
  normal:
    family: DroidSansMono Nerd Font
    style: Book

schemes:
  codedark: &dark
    primary:
      background: '#1e1e1e'
      foreground: '#d4d4d4'

    normal:
      black: '#1e1e1e'
      red: '#f44747'
      green: '#608b4e'
      yellow: '#d7ba7d'
      blue: '#569cd6'
      magenta: '#c678dd'
      cyan: '#06989a'
      white: '#d4d4d4'

    bright:
      black: '#545454'
      red: '#f44747'
      green: '#608b4e'
      yellow: '#dcdcaa'
      blue: '#569cd6'
      magenta: '#c678dd'
      cyan: '#56b6c2'
      white: '#d4d4d4'

colors: *dark

key_bindings:
  - { key: F11, action: ToggleFullscreen }
