[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  pl = pull
  ph = push
  rb = rebase
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  deploy-heroku = push -f heroku origin/master:master
  deploy-gigalixir = push gigalixir master
  # br-rm-merged = git branch --no-color --merged | command grep -vE "^(\*|\s*(master|develop|dev)\s*$)" | command xargs -n 1 git branch -d

[push]
  default = current

[core]
  excludesFile = ~/.gitignore_global
