set -g mouse on
set -g set-clipboard on

bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -i"

set -g history-limit 10000
set-option -g detach-on-destroy off

set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on

# Proper colors
set-option -sa terminal-features ',alacritty:RGB' # Makes sure that colors in tmux are the same as without tmux

# Undercurl
set -g default-terminal "tmux-256color" # If you don't add this, then neovim :checkhealth will complain. But "alacritty" also works
set-option -ga terminal-features ",alacritty:usstyle"

# Reduce time to wait for Escape key (for neovim)
set-option escape-time 40

unbind C-Space
set-option -g prefix C-Space

{{ $fish_path := "/bin/fish" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{   $fish_path = "/opt/homebrew/bin/fish" -}}
{{ end -}}

set -g default-command {{ $fish_path }}
set -g default-shell {{ $fish_path }}

# Keep current path on new-window
bind c new-window -a -c "#{pane_current_path}"

bind n next-window
bind N previous-window

bind-key r source-file ~/.tmux.conf \; display-message "Tmux config reloaded!"

# set vi mode for copy mode
setw -g mode-keys vi

bind-key "|" split-window -h -c "#{pane_current_path}"
bind-key "\\" split-window -fh -c "#{pane_current_path}"

bind-key "-" split-window -v -c "#{pane_current_path}"
bind-key "_" split-window -fv -c "#{pane_current_path}"

# Return to marked pane (Prefix + m)
bind \` switch-client -t'{marked}'

bind -r "<" swap-window -d -t -1
bind -r ">" swap-window -d -t +1

bind Space last-window
# Move to last session
bind-key C-Space switch-client -l

bind -r C-j resize-pane -D 1
bind -r C-k resize-pane -U 1
bind -r C-h resize-pane -L 1
bind -r C-l resize-pane -R 1

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

bind a choose-window 'join-pane -h -s "%%"'
bind A choose-window 'join-pane -s "%%"'

bind S command-prompt -p "New Session:" "new-session -A -s '%%'"
bind o display-popup -e "PATH=$PATH:$HOME/.local/share/mise/shims" -E "tmux-windowizer"
bind O display-popup -e "PATH=$PATH:$HOME/.local/share/mise/shims" -E "tmux-sessionizer"
bind g display-popup -e "PATH=$PATH:$HOME/.local/share/mise/shims" -d "#{pane_current_path}" -h 90% -w 90% -E "EDITOR=\"gitui-editor\" gitui"

set-option -g status-justify left

set -g @tmux_power_theme 'moon'
set -g @resurrect-processes 'chezmoi'
set -g @resurrect-strategy-nvim 'session'
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'wfxr/tmux-power'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
