#!/bin/bash

set -eufo pipefail

{{- $profile := includeTemplate "profile" . }}

{{ $packages := list
  "git"
  "curl"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ if eq $profile "mac" -}}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew install {{ $packages | join " " }}
brew install fish

{{ else if eq $profile "omarchy" -}}

{{ $arch_packages := concat $packages (list
  "base-devel"
  "fish"
  "ripgrep"
  "tmux"
  "wl-clipboard"
) -}}

{{ $sudo }}pacman -S --needed --noconfirm {{ $arch_packages | join " " }}

{{ else -}}

{{ $repos := list
  "ppa:git-core/ppa"
-}}

{{ $sudo }}add-apt-repository -y {{ $repos | join " " }}
{{ $sudo }}apt update
{{ $sudo }}apt install -y {{ $packages | join " " }}

{{ end -}}
