#!/bin/bash

set -eufo pipefail

source ${HOME}/.bashrc

# Install neovim plugins
asdf="${HOME}/.asdf/bin/asdf"
nvim="$($asdf where neovim)/bin/nvim"
exec $nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
