[Unit]
Description=Load ssh keys into the agent
Requires=ssh-agent.socket
After=ssh-agent.socket
ConditionPathExists=%h/.ssh/id_ed25519

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-add %h/.ssh/id_ed25519

[Install]
WantedBy=default.target
